// Colors
$bg: #282a2e;
$mid: #707880;
$layer: rgba(255,255,255,0.05);
$fg: #c5c8c6;

$accent: #85678f;

// Side Margin
$margin: 10vw;

// Height of navbar
$hnav: 10vh;

// Font sizes
$fheading: 64px;
$fsubheading: 28px;
$fminiheading: 24px;
$fnav: 16px;
$fbody: 12px;

// Section heights
$stitleheight: 250px;


// Font
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/jetbrains-mono.min.css");


// Sets defaults
* {

    // Sizing
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // Font
    font-family: "JetBrains Mono";
    font-size: $fbody;
    color: $fg;
    list-style-type: none;

    // Purple selection
    &::selection {
        background-color: $accent;
    }
}

// Purple on hover
a:hover {
    color: $accent;
}


// Body
body {

    // Sizing
    display: grid;
    margin: 10px $margin;

    // Theme
    background: $bg;

    // Navbar
    nav {

        // Sizing
        height: $hnav;
        line-height: $hnav;

        // Links
        a {
            text-decoration: none;

            // Main
            &.home {
                font-size: $fsubheading;
                font-weight: 700;
            }
        }

        // Other links
        ul {
            float: right;

            // Elements
            li {

                // Positioning
                display: inline-block;
                margin: 0 10px;
                
                // Font
                font-size: $fnav;
            }
        }
    }

    // Different sections
    section {

        // Text
        p {
            margin-bottom: 15px;

            // Big headings
            &.head {

                // Sizing
                margin-top: 35px;

                // Font
                font-size: $fsubheading;
                font-weight: 700;
            }

            // Small text
            &.sub {
                color: $mid;
            }

            // Italic
            span.i {
                font-style: italic;
            }
        }

        // Hidden section
        &.hidden {
            display: none !important;
        }

        // Title section
        &.title {

            // Sizing
            height: $stitleheight;
            display: flex;

            // Center everything
            justify-content: center;
            align-items: center;
            text-align: center;

            // Text
            p {
                font-size: $fheading;
                font-weight: 900;
            }
        }

        // Search section
        &.search {

            // Center everything
            display: flex;
            justify-content: center;
            
            // Input field
            input {

                // Sizing
                width: 100%;
                padding: 15px;

                // Theming
                background-color: $layer;
                border: 2px solid #00000000;

                // Active
                &:focus {
                    border-color: $accent;
                    outline: $accent;
                }
            }

            // Submit button
            button {

                // Sizing
                width: auto;
                padding: 15px;

                // Theming
                background-color: $layer;
                border: 2px solid #00000000;
                cursor: pointer;

                // Hover
                &:hover {
                    background-color: $accent;
                }
            }
        }

        // Image section
        &.image {

            // Image
            img {

                // Sizing
                max-width: 80vw;
                max-height: 60vh;

                // Center
                display: block;
                margin: 0 auto;
            }
        }
    }
}